.movieForm {
  }

.formErrorSummary {
  font-size: 0.9rem;
}

.formGroup {
}

.formLabel {
  font-weight: 500; 
  margin-bottom: 0.35rem; 
  display: block; 
  color: #4A5568;
}


.buttonContainer {

 margin-top: 1rem;
}

