html,
body,
#root { /* #root é o ID padrão do div onde o React é montado */
  height: 100%;
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove paddings padrão */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* O background-color do body pode ser uma cor de fallback ou a cor inicial do gradiente */
  background-color: #f7f7f7; /* Exemplo, se o gradiente começar com essa cor */
}

/* ... (outros estilos globais) ... */